<%- include ('../nav/header')  %>        
<!-- Sidebar Page -->
<%- include('../nav/sidebar') %>
<!--form b wage register design-->
<div class="content-wrapper">  
	<div class="col-lg-12 grid-margin stretch-card" id="table">
	<div class="card overflow-x overflow-y-hidden">		
		<div class="card-body">
			<h4 class="card-title">Wage Register</h4>
			<form class="form-inline">
				<label class="sr-only" for="contractor">Contractor</label>
				<select class="form-control mb-2 mr-sm-2" name="contract_code_data" id="contract_code_data" placeholder="Select Contractor"> 
					<option value="">Select Contractor</option>
					<% conDetailsCode.forEach(function(contractorlist)  { %>
					<option value="<%= contractorlist.CCODE %>"><%= contractorlist.CNAME %></option>
					<% }) %>
				</select>
				<label class="sr-only" for="from_date">Month</label>
				<select class="form-control mb-2 mr-sm-2" name="month_data" id="month_data" placeholder="Select Month"> 
					<option value="">Select Month</option>
					<% MonthDetails.forEach(function(Monthlist)  { %>
					<option value="<%= Monthlist.MONTH+'-'+Monthlist.YEAR%>"><%= Monthlist.MONTH+'-'+Monthlist.YEAR %></option>
					<% }) %>
				</select>
				<input type="button"  class="btn btn-gradient-primary mb-2" value="Go" onClick="get_form_b_wage_data()">
			</form>
		</div>
	<div class="col-sm-12 text-right">
     <div class="w3-show-inline-block">
        <div class="w3-bar"> 
			<button type="button" class="btn btn-gradient-info btn-icon-text" onclick="window.print();"> Print <i class="mdi mdi-printer btn-icon-append"></i></button>
			<button type="button" class="btn btn-gradient-info btn-icon-text" onclick="window.excel();"> Excel <i class="mdi mdi-excel btn-icon-append"></i></button>
		</div>
	</div> 
  </div>
  <!--form b wage data list part-->
  <div class="col-lg-12 grid-margin stretch-card" id="table">
	<div class="card overflow-x overflow-y-hidden">	
		<div class="card-body">			
			<table class="table table-bordered"> 				
			<thead>
				<caption><center><b><H5>FORM B</br>WAGE REGISTER</H5></b></center></caption>
					<center>
						<table class="table table-bordered" align="center" style='font-size: 12px;width: 50%; text-align:center;'>
						<thead>
						 <tr>
						   <td colspan="5" align="center">Rate of Minimum Wages and since the date  </td>
						 </tr>
						 <tr>
							<td></td>
							<td align="center">Highly Skilled</td>
							<td align="center">Skilled</td>
							<td align="center">Semi-Skilled</td>
							<td align="center">Un Skilled</td>
						 </tr>
						 <tr>
							<td>Minimum Basic</td>
							<td align="center">845.00</td>
							<td align="center">777.00</td>
							<td align="center">707.00</td>
							<td align="center">639.00</td>
						 </tr>
						 <tr>
							<td>DA</td>
							<td colspan='4'align="center">Include in Minimum Basic</td>
						 </tr>
						 <tr>
							<td>Overtime</td>
							<td colspan='4' align="center">Double The Rate Of Wages</td>
						 </tr>
						</thead>
						</table></center>
                        <table   class="table table-bordered payroll_data">
						  <thead>
                            <tr>
								<td colspan='3'>Name and address of Contractor : </td>
								<td colspan='11'></td>
								<td colspan='3'>Name and address of <br/>Principal employer :</td>
								<td colspan='9'>CHENNAI PETROLEUM CORPORATION LIMITED MANALI, CHENNAI-600068</td>
								<td colspan='3'>Name of Owner <br/>LIN</td>
								<td colspan='3'></td>
							</tr>
							<tr>
								<td colspan='3'>Wage period</td>
								<td colspan='11'></td>
								<td colspan='12'>(Monthly/Fortnight/Weekly/Daily/Piece Rated)</td>
								<td colspan='3'>Work order</td>
								<td colspan='3'></td>
							</tr>
							<tr>
								<th rowspan="2">S.No</th>
								<th rowspan="2">Sl. No. in <br/>Employee Register</th>
								<th rowspan="2">Name</th>
								<th rowspan="2">Rate of wage</th>
								<th rowspan="2">No. of days Worked</th>
								<th rowspan="2">Over time Hours Worked</th>
								<th colspan="10" class="t-a-c" style="text-align:center";>Earnings</th>
								<th colspan="11" class="t-a-c" style="text-align:center";>Deductions</th>
								<th rowspan="2">Net <br/>Payment</th>
								<th rowspan="2">Employee share PF Welfare</th>
								<th rowspan="2">Receipt by Employee/Bank Transaction ID</th>
								<th rowspan="2">Date of payment</th>
								<th rowspan="2">Remarks</th>	
							</tr>
							<tr class="t-a-c">
								<th>Basic</th>
								<th>Special Basic</th>
								<th>LA</td>
								<th>Payments Overtime</th>
								<th>HRA</th>
								<th>Other Allowance</th>
								<th>Incentive</th>
								<th>Arrear Basic</th>
								<th>Misc.Credit</th>
								<th>Total</th>
								
								<th>PF</th>
								<th>ESIC</th>
								<th>Society</th>
								<th>Income Tax</th>
								<th>Insurance</th>
								<th>Others</th>
								<th>Recoveries</th>
								<th>PTAX</th>
								<th>LWF</th>
								<th>Misc.Ded</th>
								<th>Total Deduction</th>
							</tr>
							<tr class="t-a-c">
								<th>1</th>
								<th>1(a)</th>
								<th>2</th>
								<th>3</th>
								<th>4</th>
								<th>5</th>
								<th>6</th>
								<th>7</th>
								<th>8</th>
								<th>9</th>
								<th>10</th>
								<th>11</th>
								<th>11(a)</th>
								<th>11(b)</th>
								<th>11(c)</th>
								<th>12</th>
								<th>13</th>
								<th>14</th>
								<th>15</th>
								<th>16</th>
								<th>17</th>
								<th>18</th>
								<th>19</th>
								<th>19(a)</th>
								<th>19(b)</th>
								<th>19(c)</th>
								<th>20</th>
								<th>21</th>
								<th>22</th>
								<th>23</th>
								<th>24</th>
								<th>25</th>
							</tr>
						  </thead>
						  <tbody id='form_b_wage'></tbody>
						</table>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Footer Page-->
<%- include('../nav/footer') %>

<script type="text/javascript">
	function get_form_b_wage_data(){
		var ccode=document.getElementById("contract_code_data").value;
		var month=document.getElementById("month_data").value;
		
		$.ajax({
		method:'POST',
		url:'/pay_roll/form_b_wage_reg_data',
		data: { ccode: ccode,month: month },
		dtatype:json,
		success: function(data){
			console.log(data);
		    var n=1;
			$.each(data, function(index, payroll_details) {
				console.log(payroll_details);
					$('.payroll_data').append('<tr><td>'+n+'</td><td>' + payroll_details.emp_new_code+ '</td><td>' + payroll_details.emp_name + '</td><td>' + payroll_details.pd_wages + '</td><td>' + payroll_details.no_of_days + '</td><td></td><td>' + payroll_details.basic + '</td><td></td><td></td><td></td><td></td><td>' + payroll_details.pd_allow + '</td><td>' + payroll_details.pd_incen + '</td><td></td><td></td><td>' + payroll_details.gross_salary + '</td><td>' + payroll_details.pf_amount + '</td><td>' + payroll_details.esi_amount + '</td><td></td><td></td><td></td><td></td><td></td><td></td><td>' + payroll_details.lwf + '</td><td></td><td>' + payroll_details.total_deduction + '</td><td>' + payroll_details.net_pay + '</td><td></td><td></td><td></td><td></td></tr>');
				});
			}
		}); 	
	}
	</script>
			