<%- include ('../nav/header') %>
	<!-- Sidebar Page -->
	<%- include('../nav/sidebar') %>

		<!-- </div> -->
		<div class="col-lg-12 grid-margin stretch-card" id="table">
			<div class="card overflow-x overflow-y-hidden">
				<div class="card-body">
                    <h4 >Payroll Generation</h4><br/><br/>
					<form class="form-inline" align="center" method="POST" action="/payroll/generate">
                        
                        <div class="form-group row">
                            <div class="col-sm-3">
                               <h2 class="card-title">Month</h2>
                            </div>
                            
                            <div class="col-sm-5">
                                <% MonthlList.forEach(function(MonthData)  {   %>
                                <%  if(MonthData.month=='1'){ 
                                        month="January"; 
                                    }else if(MonthData.month=='2'){
                                        month="February"; 
                                    }else if(MonthData.month=='3'){
                                        month ="March";
                                    }else if(MonthData.month=='4'){
                                        month = "April";
                                    }else if(MonthData.month=='5'){
                                        month ="May";
                                    }else if(MonthData.month=='6'){
                                        month ="June";
                                    }else if(MonthData.month=='7'){
                                        month ="July";
                                    }else if(MonthData.month=='8'){
                                        month ="August";
                                    }else if(MonthData.month=='9'){
                                        month ="September";
                                    }else if(MonthData.month=='10'){
                                        month ="October";
                                    }else if(MonthData.month=='11'){
                                        month ="November";
                                    }else if(MonthData.month=='12'){
                                        month ="December";
                                    }
                                %>
                                <%= month+'-'+MonthData.year %>  
                                <%  }) %>
                                <input type="hidden" value="<%= MonthData.id %>" name="id">
                            </div>
                            <div class="col-sm-4">
                                
                              <input type="button"  class="btn btn-gradient-primary mb-2" value="Generate">
                            </div>
                        </div>
                        
                    </form>
					<br/><br/>
				</div>
			</div>
		</div>

		<!-- Footer Page-->
<%- include('../nav/footer') %>



<script>
	getPagination('#table-id');
	
	function getPagination(table) {
		var lastPage = 1;
	
		$('#maxRows')
		.on('change', function (evt) {
			//$('.paginationprev').html('');						// reset pagination
	
			lastPage = 1;
			$('.pagination')
			.find('li')
			.slice(1, -1)
			.remove();
			var trnum = 0; // reset tr counter
			var maxRows = parseInt($(this).val()); // get Max Rows from select option
	
			if (maxRows == 5000) {
			$('.pagination').hide();
			} else {
			$('.pagination').show();
			}
	
			var totalRows = $(table + ' tbody tr').length; // numbers of rows
			$(table + ' tr:gt(0)').each(function () {
			// each TR in  table and not the header
			trnum++; // Start Counter
			if (trnum > maxRows) {
				// if tr number gt maxRows
	
				$(this).hide(); // fade it out
			}
			if (trnum <= maxRows) {
				$(this).show();
			} // else fade in Important in case if it ..
			}); //  was fade out to fade it in
			if (totalRows > maxRows) {
			// if tr total rows gt max rows option
			var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
			//	numbers of pages
			for (var i = 1; i <= pagenum;) {
				// for each page append pagination li
				$('.pagination #prev')
				.before(
					'<li data-page="' +
					i +
					'">\
	<span class="btn m-t-10 btn-icon fs-20">' +
					i++ +
					'<span class="sr-only">(current)</span></span>\
	</li>'
				)
				.show();
			} // end for i
			} // end if row count > max rows
			$('.pagination [data-page="1"]').addClass('active'); // add active class to the first li
			$('.pagination li').on('click', function (evt) {
			// on click each page
			evt.stopImmediatePropagation();
			evt.preventDefault();
			var pageNum = $(this).attr('data-page'); // get it's number
	
			var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option
	
			if (pageNum == 'prev') {
				if (lastPage == 1) {
				return;
				}
				pageNum = --lastPage;
			}
			if (pageNum == 'next') {
				if (lastPage == $('.pagination li').length - 2) {
				return;
				}
				pageNum = ++lastPage;
			}
	
			lastPage = pageNum;
			var trIndex = 0; // reset tr counter
			$('.pagination li').removeClass('active'); // remove active class from all li
			$('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked
			// $(this).addClass('active');					// add active class to the clicked
			limitPagging();
			$(table + ' tr:gt(0)').each(function () {
				// each tr in table not the header
				trIndex++; // tr index counter
				// if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
				if (
				trIndex > maxRows * pageNum ||
				trIndex <= maxRows * pageNum - maxRows
				) {
				$(this).hide();
				} else {
				$(this).show();
				} //else fade in
			}); // end of for each tr in table
			}); // end of on click pagination list
			limitPagging();
		})
		.val(5)
		.change();
	
		// end of on select change
	
		// END OF PAGINATION
	}
	
	function limitPagging() {
		// alert($('.pagination li').length)
	
		if ($('.pagination li').length > 7) {
		if ($('.pagination li.active').attr('data-page') <= 3) {
			$('.pagination li:gt(5)').hide();
			$('.pagination li:lt(5)').show();
			$('.pagination [data-page="next"]').show();
		} if ($('.pagination li.active').attr('data-page') > 3) {
			$('.pagination li:gt(0)').hide();
			$('.pagination [data-page="next"]').show();
			for (let i = (parseInt($('.pagination li.active').attr('data-page')) - 2); i <= (parseInt($('.pagination li.active').attr('data-page')) + 2); i++) {
			$('.pagination [data-page="' + i + '"]').show();
	
			}
	
		}
		}
	}
	
	$(function () {
		// Just to append id number for each row
		$('table tr:eq(0)').prepend('<th> ID </th>');
	
		var id = 0;
	
		$('table tr:gt(0)').each(function () {
		id++;
		$(this).prepend('<td>' + id + '</td>');
		});
	});
	
	//  Developed By Yasser Mas
	// yasser.mas2@gmail.com
	
</script>
<style>
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

</style>