<%- include ('../nav/header') %>
	<!-- Sidebar Page -->
	<%- include('../nav/sidebar') %>

		<button type="button" class="btn btn-gradient-primary btn-rounded btn-fw f-r m-b-20" id="addbutton"
			onclick="addContractor(1)">New</button>
		<button type="button" class="btn btn-gradient-primary btn-rounded btn-fw f-r m-b-20 dis-none" id="backbutton"
			onclick="addContractor(2)">Back</button>
		<br/>	
		<div class="col-lg-12 grid-margin stretch-card" id="table">
			<div class="card overflow-x overflow-y-hidden">
				<div class="card-body">
					<h4 class="card-title">Contractor Master</h4>

					<div class="form-group">
					<!--Search Filter-->
					<input type="search" placeholder="Search Here" class="form-control search-input" data-table="customers-list"/>
                    </div>
					<table class="table table-striped mt32 customers-list">
						<thead>
							<tr>
								<th>CCODE</th>
								<th>CNAME</th>
								<th>PREFIXCODE</th>
								<th>STATUS</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>

							<% data.forEach(function(contract){ %>
								<tr>
									<td class="py-1">
										<%= contract.contractor_code %>
									</td>
									<td>
										<%= contract.contractor_name %>
									</td>
									<td>
										<%= contract.prefix_code %>
									</td>
									<td id="bck-c">
										<label class="badge badge-gradient-success">
											<%= contract.status %>
										</label>
									</td>
									<td>
										<a href="contractor_edit/<%= contract.id %>" class="btn btn-sm btn-primary">Edit</a>
									</td>
								</tr>

								<% }) %>
						</tbody>
					</table>
					<br/><br/>
				</div>
			</div>
		</div>
		<!--Form Start -->
		<br /> <br />
		<div class="card" id="newform">
			<div class="card-body">

				<h4 class="card-title">Contractor Master</h4>

				<form class="forms-sample" method="POST" action="/contractor/new" autocomplete="off" onsubmit="showAlert()">
					<div class="form-group row">
						<label for="Contractor_Code" class="col-sm-3 col-form-label">Contractor Code</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="Contractor_Code" placeholder="Enter Contractor Code" 
							  required>
						</div>
					</div>
					<div class="form-group row">
						<label for="Contractor_Name" class="col-sm-3 col-form-label">Contractor Name</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="Contractor_Name" name="Contractor_Name"
								placeholder="Contractor Name" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="Address" class="col-sm-3 col-form-label">Address</label>
						<div class="col-sm-9">
							<textarea class="form-control" id="Address" name="Address" placeholder="Address" required></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label for="Prefix_Code" class="col-sm-3 col-form-label">Prefix Code</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="Prefix_Code" name="Prefix_Code"
								placeholder="Prefix_Code" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="proprietor" class="col-sm-3 col-form-label">Name of the proprietor</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="proprietor" name="proprietor"
								placeholder="Name of the proprietor" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="owner" class="col-sm-3 col-form-label">owner</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="owner" name="owner"
								placeholder="Name of the owner" required>
						</div>
					</div>

					<div class="form-group row">
						<label for="Name of the proprietor/owner/MD/partner" class="col-sm-3 col-form-label">MD</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="md" name="md"
								placeholder="Name of the proprietor/owner/MD/partner" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="partner" class="col-sm-3 col-form-label">partner</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="partner" name="partner"
								placeholder="Name of the partner" required>
						</div>
					</div>

					<div class="form-group row">
						<label for="Contractor_Email_ID" class="col-sm-3 col-form-label">Contractor E-mail
							ID</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="Contractor_Email" name="Contractor_Email"
								placeholder="Contractor E-mail ID" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="ESI_Code_No" class="col-sm-3 col-form-label">ESI Code No</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="ESI_Code_No" name="ESI_Code_No"
								placeholder="ESI Code No" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="PF_Code_No" class="col-sm-3 col-form-label">PF Code No</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="PF_Code_No" name="PF_Code_No"
								placeholder="PF Code No" required>
						</div>
					</div>

					<div class="form-group row">
						<label for="exampleInputContractor PAN No" class="col-sm-3 col-form-label">Contractor PAN
							No</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="Contractor_PAN_No" name="Contractor_PAN_No"
								placeholder="Contractor PAN No" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="Contractor_LIN LIN" class="col-sm-3 col-form-label">Contractor LIN</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="Contractor_LIN" name="Contractor_LIN"
								placeholder="Contractor LIN" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="Mobile_No" class="col-sm-3 col-form-label">Mobile No</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="Mobile_No" name="Mobile_No"
								placeholder="Mobile No" required>
						</div>
					</div>
						<div class="form-group row">
								<label class="col-sm-3 col-form-label">Status</label>

								<div class="col-sm-4">
									<div class="form-check">
										<label class="form-check-label">
											<input type="radio" class="form-check-input" name="status"
												id="membershipRadios1" value="1" checked required>
											Active </label>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="form-check">
										<label class="form-check-label">
											<input type="radio" class="form-check-input" name="status"
												id="membershipRadios2" value="0" required> In Active
										</label>
									</div>
								</div>
							</div>
					<div class="form-group row">
						<label for="Name_of_person" class="col-sm-3 col-form-label">Name of person</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="Name_of_person" name="Name_of_person"
								placeholder="Name of person" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="Name_of_person" class="col-sm-3 col-form-label">Mail id who is looking over
							compliance</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="compliance_Mail_id" name="compliance_Mail_id"
								placeholder="Mail id who is looking over compliance" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="Name_of_person" class="col-sm-3 col-form-label">HR
							Department </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="hr_department" name="hr_department"
								placeholder="HR Department" required>
						</div>
					</div>

					<div class="form-group row">
						<label for="Name_of_person" class="col-sm-3 col-form-label">User Name</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="username" name="username"
								placeholder="User Name" required>
						</div>
					</div>

					<div class="form-group row">
						<label for="Name_of_person" class="col-sm-3 col-form-label">Password</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" id="Password" name="Password"
								placeholder="Password" required>
						</div>
					</div>
					
					<center>
						<button type="submit" class="btn btn-gradient-success btn-fw">Save</button>

						<button type="button" class="btn btn-gradient-danger btn-fw">cancel</button>
					</center>
				</form>
			</div>
		</div>

<!-- Footer Page-->
<%- include('../nav/footer') %>



<script type="text/javascript">

	window.onload = function () {

		document.getElementById("newform").style.display = "none";
		document.getElementById("backbutton").style.display = "none";

	};

	function addContractor(a) {

		if (a == 1) {
			document.getElementById("backbutton").style.display = "block";
			document.getElementById("newform").style.display = "block";
			document.getElementById("table").style.display = "none";
			document.getElementById("addbutton").style.display = "none";
		}
		else if(a == 2) {
			document.getElementById("table").style.display = "block";
			document.getElementById("addbutton").style.display = "block";
			document.getElementById("backbutton").style.display = "none";
			document.getElementById("newform").style.display = "none";
			location.reload();
		}
	}

	//function backContractor() {
</script>


<!--Show alert-->
<script>
	function showAlert() {
		alert("Contractor Details Saved Successfully");
	}
</script>

<!--Table Sort-->
<script>
	(function(document) {
		'use strict';

		var TableFilter = (function(myArray) {
			var search_input;

			function _onInputSearch(e) {
				search_input = e.target;
				var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
				myArray.forEach.call(tables, function(table) {
					myArray.forEach.call(table.tBodies, function(tbody) {
						myArray.forEach.call(tbody.rows, function(row) {
							var text_content = row.textContent.toLowerCase();
							var search_val = search_input.value.toLowerCase();
							row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
						});
					});
				});
			}

			return {
				init: function() {
					var inputs = document.getElementsByClassName('search-input');
					myArray.forEach.call(inputs, function(input) {
						input.oninput = _onInputSearch;
					});
				}
			};
		})(Array.prototype);

		document.addEventListener('readystatechange', function() {
			if (document.readyState === 'complete') {
				TableFilter.init();
			}
		});

	})(document);
</script>