<%- include ('../nav/header') %>
    <!-- Sidebar Page -->
    <%- include('../nav/sidebar') %>

    <!--Upload Excel-->
    <a href="/employee_excell_download">Download Template</a></p>
    <div class="card" id="table">
    <div class="card-body">
    <section id="upload-data-panel">
    <form id="upload-form" action="/uploads/Contractor_csv" method="post" enctype="multipart/form-data">

    <fieldset>
    <legend>Upload Data</legend>
    <div>
    <!-- The name here is important, and will be used later to reference the data -->
    <input type="file" name="csvdata" accept="text/cvs">
    </div>
    <div>
    <input type="submit" value="Submit" />
    </div>
    </fieldset>
    </form>
    </section>
    </div>
    </div>
    <br/>
    
    <a type="button" class="btn btn-gradient-primary btn-rounded btn-fw f-r m-b-20" id="addbutton"
    href="/employee/add">New</a>
    
 
    <br/>
    <div class="col-lg-12 grid-margin stretch-card">
    <div class="card overflow-x overflow-y-hidden" id="table">
        <div class="card-body">
            <h4 class="card-title">Employee Master</h4>
            <div class="form-group"> 
                <input type="search" placeholder="Search Here" class="form-control search-input" data-table="customers-list"/>
            </div>
            <table class="table table-striped mt32 customers-list">
                <thead>
                    <tr>
                        <th>New Code</th>
                        <th>Card Number</th>
                        <th>Previous Code</th>
                        <th>Contractor Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% view.forEach(function(emp_master){ %>
                        <tr>
                            <td class="py-1">
                                <%= emp_master.NEW_CODE %>
                            </td>
                            <td>
                                <%= emp_master.ECODE %>
                            </td>
                            <td>
                                <%= emp_master.PRE_CODE %>
                            </td>
                            <td>
                                <label class="badge badge-gradient-success"><%= emp_master.CCODE %></label>
                                
                            </td>
                            <td>
                                <a href="employee_Edit/<%= emp_master.ID %>" class="btn btn-sm btn-primary">Edit</a>
                            </td>
                        </tr>

                        <% }) %>
                </tbody> 
            </table>
        </div>
        
    </div>

    </div>
   

    <!-- Footer Page-->
    <%- include('../nav/footer') %>


    <!--Onload Funcation-->
    <script type="text/javascript">

    window.onload = function () {

    document.getElementById("newform").style.display = "none";
    //document.getElementById("transferform").style.display = "none";
    //Get Current Date
    var today = new Date();

    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '/' + mm + '/' + dd;
    //alert(today);

    };

    </script>

    <!--Table Sort-->
    <script>
        (function(document) {
            'use strict';

            var TableFilter = (function(myArray) {
                var search_input;

                function _onInputSearch(e) {
                    search_input = e.target;
                    var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                    myArray.forEach.call(tables, function(table) {
                        myArray.forEach.call(table.tBodies, function(tbody) {
                            myArray.forEach.call(tbody.rows, function(row) {
                                var text_content = row.textContent.toLowerCase();
                                var search_val = search_input.value.toLowerCase();
                                row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                            });
                        });
                    });
                }

                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('search-input');
                        myArray.forEach.call(inputs, function(input) {
                            input.oninput = _onInputSearch;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function() {
                if (document.readyState === 'complete') {
                    TableFilter.init();
                }
            });

        })(document);
    </script>


