<div class="card" id="newform">
    <div class="card-body">
        <h4 class="card-title">Employee Master</h4>
        <p class="card-description"> </p>
        <form class="forms-sample">
            <div class="form-group row">
                <label for="ccode" class="col-sm-3 col-form-label">Contractor Code</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="ccode" name="ccode" placeholder="ccode">
                </div>
            </div>
            <div class="form-group row">
                <label for="cname" class="col-sm-3 col-form-label">Contractor Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="cname" name="cname" placeholder="cname">
                </div>
            </div>
            <div class="form-group row">
                <label for="workorder" class="col-sm-3 col-form-label">Work Order No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="workorder" name="workorder"placeholder="workorder">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Work Order Date</label>
                <div class="col-sm-9">
                    <input class="form-control" id="workorder_date" name="workorder_date" placeholder="dd/mm/yyyy" />
                </div>
            </div>
            <div class="form-group row">
                <label for="no_of_employees"  class="col-sm-3 col-form-label">Number Of Employees</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="no_of_employees" name="no_of_employees" placeholder="no_of_employees">
                </div>
            </div>
            <div class="form-group row">
                <label for="sub_contractor" class="col-sm-3 col-form-label">Sub Contractor</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="sub_contractor" name="sub_contractor" placeholder="sub_contractor">
                </div>
            </div>
            <div class="form-group row">
                <label for="sub_con_code" class="col-sm-3 col-form-label">Sub Con Code</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="sub_con_code" name="sub_con_code" placeholder="sub_con_code">
                </div>
            </div>

            <div class="form-group row">
                <label for="licence_no" class="col-sm-3 col-form-label">Licence No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="licence_no" name="licence_no" placeholder="licence_no">
                </div>
            </div>

            <div class="form-group row">
                <label for="emp_code" class="col-sm-3 col-form-label">Employee Code</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="emp_code" name="emp_code" placeholder="emp_code">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Wo validity from</label>
                <div class="col-sm-9">
                    <input class="form-control" id="wo_val_from" name="wo_val_from" placeholder="dd/mm/yyyy" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Wo validity To</label>
                <div class="col-sm-9">
                    <input class="form-control" id="wo_val_to" name="wo_val_to" placeholder="dd/mm/yyyy" />
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">CI.Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="ci_name" name="ci_name" placeholder="ci_name">
                </div>
            </div>
            <div class="form-group row">
                <label for="Father/Husband Name" class="col-sm-3 col-form-label">Father/Husband Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Father" Name="Father" placeholder="Father Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="designation" class="col-sm-3 col-form-label">Designation</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="designation" name="designation" placeholder="designation">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">DOB</label>
                <div class="col-sm-9">
                    <input class="form-control" id="dob" name="dob" placeholder="dd/mm/yyyy" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Engaged Date</label>
                <div class="col-sm-9">
                    <input class="form-control" id="Engaged_Date" name="Engaged_Date" placeholder="dd/mm/yyyy" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="gender" id="gender1" value="" checked>
                            Male </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="gender" id="gender2" value="option2">
                            Female </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Marital Status</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="mstatus" id="mstatus1" value="" checked>
                            Married </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="mstatus" id="mstatus2" value="option2">
                            Un married</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="Present_address" class="col-sm-3 col-form-label">Present Address</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Present_address"  name="Present_address" placeholder="Present_address">
                </div>
            </div>
            <div class="form-group row">
                <label for="permanent_address" class="col-sm-3 col-form-label">Permanent Address</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="permanent_address" name="permanent_address" placeholder="permanent_address">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone_no" class="col-sm-3 col-form-label">Phone No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="phone_no" name="phone_no" placeholder="phone_no">
                </div>
            </div>
            <div class="form-group row">
                <label for="email_id" class="col-sm-3 col-form-label">Email Id</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="email_id" name="email_id"placeholder="email_id">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Incase Of Emergency</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="status" id="status"
                                value="" checked> Inform </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="status" id="status"
                                value="option2"> Not Inform </label>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="nominee_name" class="col-sm-3 col-form-label">Nominee Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nominee_name" name="nominee_name"placeholder="nominee_name">
                </div>
            </div>

            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Relationship Of Nominee & DOB</label>
                <div class="col-sm-9">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relation</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Brother</a>
                                    <a class="dropdown-item" href="#">Sister</a>
                                    <a class="dropdown-item" href="#">Husband/Wife</a>


                                </div>
                            </div>
                            <input type="Date" class="form-control" aria-label="Text input with dropdown button"
                                placeholder="DOB">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="category" class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="category" name="category" placeholder="category">
                </div>
            </div>
            <div class="form-group row">
                <label for="wage_per_day" class="col-sm-3 col-form-label">Wage Per Day</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="wage_per_day" name="wage_per_day" placeholder="wage_per_day">
                </div>
            </div>
            <div class="form-group row">
                <label for="Incentive_per_day" class="col-sm-3 col-form-label">Incentive Per Day</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Incentive_per_day" name="Incentive_per_day" placeholder="Incentive_per_day">
                </div>
            </div>
            <div class="form-group row">
                <label for="Allowance_per_day" class="col-sm-3 col-form-label">Allowance Per Day</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Allowance_per_day" name="Allowance_per_day" placeholder="Allowance_per_day">
                </div>
            </div>

            <div class="form-group row">
                <label for="Any_other_wages" class="col-sm-3 col-form-label">Any Other Wages</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Any_other_wages" name="Any_other_wages" placeholder="Any_other_wages">
                </div>
            </div>

            <div class="form-group row">
                <label for="UAN" class="col-sm-3 col-form-label">UAN</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="UAN" name="UAN" placeholder="UAN">
                </div>
            </div>

            <div class="form-group row">
                <label for="ESI_no" class="col-sm-3 col-form-label">ESI No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="ESI_no" name="ESI_no" placeholder="ESI_no">
                </div>
            </div>
            <div class="form-group row">
                <label for="Aadhar_card_no" class="col-sm-3 col-form-label">Aadhar Card No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Aadhar_card_no" name="Aadhar_card_no" placeholder="Aadhar_card_no">
                </div>
            </div>
            <div class="form-group row">
                <label for="Identical_mark1" class="col-sm-3 col-form-label">Identical Mark1</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Identical_mark1" name="Identical_mark1" placeholder="Identical_mark1">
                </div>
            </div>
            <div class="form-group row">
                <label for="Bank_name" class="col-sm-3 col-form-label">Bank Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Bank_name" name="Bank_name"placeholder="Bank_name">
                </div>
            </div>
            <div class="form-group row">
                <label for="Account_no" class="col-sm-3 col-form-label">Account No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Account_no" name="Account_no"placeholder="Account_no">
                </div>
            </div>
            <div class="form-group row">
                <label for="Blood_grp" class="col-sm-3 col-form-label">Blood GRP</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Blood_grp" name="Blood_grp"placeholder="Blood_grp">
                </div>
            </div>
            <div class="form-group row">
                <label for="Entry_gate" class="col-sm-3 col-form-label">Entry Gate</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Entry_gate" name="Entry_gate"placeholder="Entry_gate">
                </div>
            </div>
            <div class="form-group row">
                <label for="Work_spot" class="col-sm-3 col-form-label">Work Spot</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Work_spot" name="Work_spot"placeholder="Work_spot">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Area Of Work</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="Area_of_work" id="Area_of_work" value=""
                                checked> Plant</label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="Area_of_work" id="Area_of_work"
                                value="option2"> Non Plant</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Pass Validity From</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" name="pass_val_from" id="pass_val_from" placeholder="dd/mm/yyyy" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Pass Validity To</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" name="pass_val_to" id="pass_val_to" placeholder="dd/mm/yyyy" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Safety Training From</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" name="safety_training_from" id="safety_training_from" placeholder="dd/mm/yyyy" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Safety Training To</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" name="safety_training_to" id="safety_training_to" placeholder="dd/mm/yyyy" />
                </div>
            </div>
            <center>
                <button type="button" class="btn btn-gradient-success btn-rounded btn-fw">Save</button>
                <button type="button" class="btn btn-gradient-danger btn-rounded btn-fw">Cancel</button>
            </center>
        </form>
    </div>
</div> 
<button type="button" class="btn btn-gradient-primary btn-rounded btn-fw f-r m-b-20" id="addbutton" onclick="addContractor(1)">New</button>
 <br/>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card" id="table">
        <div class="card-body">
            <h4 class="card-title">Employee Master</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Contractor Code</th>
                        <th>Contractor Name</th>
                        <th> Work Order No</th>
                        <th> Employee Code</th>
                        <th> Employee Name</th>
                        <th> Wo validity From</th>
                        <th> Wo validity To</th>
                        <th> UAN</th>
                    </tr>
                </thead>
                <tbody>
    
                        <% data.forEach(function(emp_master){ %>
                        <tr>
                        <td class="py-1"><%= emp_master.CCODE   %> </td>
                        <td> <%= emp_master.CNAME   %> </td>
                        <td><%= emp_master.WORK_ORDER_No   %> </td>
                        <td> <%= emp_master.ECODE   %> </td>
                        <td> <%= emp_master.ECODE   %> </td>
                        <td> <%= emp_master.WO_FROM   %> </td>
                        <td> <%= emp_master.WO_TO   %></td>
                        <td> <%= emp_master.UAN   %> </td>
                        </tr>
                                
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>



<script type="text/javascript">

  window.onload = function() {

    document.getElementById("newform").style.display = "none";

  };

  function addContractor(a) {
  
    if (a == 1) {
      document.getElementById("newform").style.display = "block";
	  document.getElementById("table").style.display = "none";
	  document.getElementById("addbutton").style.display = "none";
    } else {
      document.getElementById("newform").style.display = "none";
    }
      
  }
</script>