<%- include ('../nav/header')  %>        
<!-- Sidebar Page -->
<%- include('../nav/sidebar') %>

 <a href="/workordernew/add" class="btn btn-gradient-primary btn-rounded btn-fw f-r m-b-20" id="addbutton">New</a>
 <br/>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card overflow-x overflow-y-hidden" id="table">
        <div class="card-body">
            <h4 class="card-title">Work Order</h4>
            <p class="card-description"> <code>.</code>
            </p>
            <table class="table table-striped">
                <thead>
                <tr>
                <th>CCODE</th>
                <th>CNAME</th>
                <th>VENDOR_NO</th>
                <th>WORK_ORDER</th>
                <th>WORK_OR_DATE</th>
                <th>DURATION</th>
                <th>WORKMEN_TOT</th>
                <th>STATUS</th>
                </tr>
                </thead>
                <tbody>

                <% data.forEach(function(work_order){ %>
                <tr>
                <td class="py-1"><%= work_order.CCODE   %> </td>
                <td> <%= work_order.CNAME   %> </td>
                <td><%= work_order.VENDOR_NO   %> </td>
                <td> <%= work_order.WORK_ORDER   %> </td>
                <td> <%= work_order.WORK_OR_DATE   %> </td>
                <td> <%= work_order.DURATION   %></td>
                <td> <%= work_order.WORKMEN_TOT   %> </td>
                <td> <%= work_order.STATUS   %> </td>
                </tr>
                        
                <% }) %>
                </tbody>
				</table>

            
        </div>
    </div>
</div>

<!-- Footer Page-->
<%- include('../nav/footer') %>



<script type="text/javascript">

  window.onload = function() {

    document.getElementById("newform").style.display = "none";

  };

  function addWorkOrder(a) {
  
    if (a == 1) {
      //document.getElementById("newform").style.display = "block";
	  //document.getElementById("table").style.display = "none";
      //document.getElementById("addbutton").style.display = "none";
      $.ajax({
			url: '/workordernew/add',
			type: 'GET',
			//data: { "id": data }
			}).done(function(response){
			//callback to handle if it's successful
		})
    } else {
      document.getElementById("newform").style.display = "none";
    }
      
  }
</script> 