<%- include ('../nav/header') %>
  <!-- Sidebar Page -->
  <%- include('../nav/sidebar') %>
    <a type="button" class="btn btn-gradient-danger btn-fw m-b-20 b-r-25" id="addbutton"
    href="/Engineer">Back</a>
    <br/>
    <div class="card" id="table">
      <div class="card-body">
        <div class="container">

          <h4 class="card-title">Engineer Master Edit</h4>

          <% Engineer_edit_data.forEach(function(Engineer_edit_data) { %>

            <form action="/update" method="POST" onsubmit="showAlert()">
              <input type="hidden" value="<%= Engineer_edit_data.id %>" name="id">

              <div class="form-group row">
                <label for="exampleInputEIC PRNO" class="col-sm-3 col-form-label">EIC PRNO</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="eic_prno" name="eic_prno"
                    value="<%= Engineer_edit_data.EIC_PRNO %>" placeholder="EIC PRNO">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputName" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="name" name="name" value="<%= Engineer_edit_data.name %>"
                    placeholder="Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputDepartment" class="col-sm-3 col-form-label">Department</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="department" name="department"
                    value="<%= Engineer_edit_data.department %>" placeholder="Department">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputDesignation" class="col-sm-3 col-form-label">Designation</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="designation" name="designation"
                    value="<%= Engineer_edit_data.designation %>" placeholder="Designation">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="email" name="email"
                    value="<%= Engineer_edit_data.email %>" placeholder="Username">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="mobile" name="mobile"
                    value="<%= Engineer_edit_data.mobile %>" placeholder="Mobile">
                </div>
              </div>

              <center>
                <button type="submit" class="btn btn-primary">Update</button>
              </center>
            </form>

            <% }) %>

        </div>

      </div>
    </div>

<!-- Footer Page-->
<%- include('../nav/footer') %>

<!--Show Alert-->
<script>
  function showAlert() {
      alert("Engineer Details Successfully Updated");
  }
</script>
