<%- include ('../nav/header')  %>        
<!-- Sidebar Page -->
<%- include('../nav/sidebar') %>

<button type="button" class="btn btn-gradient-primary btn-rounded btn-fw f-r m-b-20" id="addbutton"
    onclick="addContractor(1)">New</button>
<br/>
<div class="col-lg-12 grid-margin stretch-card">
	<div class="card" id="table">
		<div class="card-body">
			<h4 class="card-title">Gate Master</h4>
			<table class="table">
				<thead>
					<tr>
						<th>user</th>
						<th> Name </th>
						<th> Status </th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>

					<% data.forEach(function(gate) { %>
						<tr>
							<td>
								<%= gate.id %>
							</td>
							<td>
								<%= gate.name %>
							</td>
							<td >
								<label class="badge badge-danger"><%= gate.status %></label>
							</td>
							<td>
								<a href="gate_edit/<%= gate.id %>" class="btn btn-sm btn-primary">Edit</a>
							</td>
						</tr>
						<% }) %>

				</tbody>
			</table>
		</div>
	</div>
</div>

<!--Form Start-->
<div class="card" id="newform">
	<div class="card-body">
		<h4 class="card-title">Gate Master</h4>
		<form class="forms-sample" method="POST" action="/gate/new">
		  <div class="form-group row">
			<label for="name" class="col-sm-3 col-form-label">Name</label>
			<div class="col-sm-9">
			  <input type="text" class="form-control" id="name" name="name" placeholder="name">
			</div>
		  </div>
		  
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Status</label>
				<div class="col-sm-4">
				  <div class="form-check">
					<label class="form-check-label">
					  <input type="radio" class="form-check-input" name="status" id="status" value="1" checked> Active </label>
				  </div>
				</div>
				<div class="col-sm-5">
				  <div class="form-check">
					<label class="form-check-label">
					  <input type="radio" class="form-check-input" name="status" id="status" value="2"> In Active </label>
				  </div>
				</div>
			  </div>
		 
		<center>
		   <button type="submit" class="btn btn-gradient-success btn-fw">Save</button>
		  <button type="button" class="btn btn-gradient-danger btn-fw">Cancel</button>
		  </center>
		</form>
	</div>
</div>

<script type="text/javascript">

	  window.onload = function() {

		document.getElementById("newform").style.display = "none";

	  };

	  function addContractor(a) {
	  
		if (a == 1) {
		  document.getElementById("newform").style.display = "block";
		  document.getElementById("table").style.display = "none";
		  document.getElementById("addbutton").style.display = "none";
		} 
		else {
		  document.getElementById("newform").style.display = "none";
		}
		  
	  }
	</script>
	<!-- Footer Page-->
<%- include('../nav/footer') %>