<%- include ('../nav/header') %>
	<!-- Sidebar Page -->
	<%- include('../nav/sidebar') %>
		<div class="card" id="table">
			<div class="card-body">
				<div class="container">
					<h4 class="card-title">Shift Master Edit</h4>

					<% Shift_edit_data.forEach(function(Shift_edit_data) { %>

						<form class="forms-sample" method="POST" action="/shift/update">
							<input type="hidden" value="<%= Shift_edit_data.id %>" name="id">
							<div class="form-group row">
								<label for="name" class="col-sm-3 col-form-label">Name</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="shift_name" name="shift_name"
										value="<%=Shift_edit_data.shift_name %>">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">From Time</label>
								<div class="col-sm-9">
									<input type="time" class="form-control" id="from_time" name="from_time"
										value="<%=Shift_edit_data.from_time %>" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">To Time</label>
								<div class="col-sm-9">
									<input type="time" class="form-control" id="to_time" name="to_time"
										value="<%=Shift_edit_data.to_time %>" />
								</div>
							</div> 


							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Status</label>

								<div class="col-sm-4">
									<div class="form-check">
										<label class="form-check-label">
											<input type="radio" class="form-check-input" name="membershipRadios"
												id="membershipRadios1" value="<%=Shift_edit_data.status %>" checked>
											Active </label>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="form-check">
										<label class="form-check-label">
											<input type="radio" class="form-check-input" name="membershipRadios"
												id="membershipRadios2" value="<%=Shift_edit_data.status %>"> In Active
										</label>
									</div>
								</div>
							</div>

							<% }) %>
							
								<center>
									<button type="submit" class="btn btn-primary">Update</button>

								</center>
						</form>
				</div>
			</div>
		</div>

<%- include('../nav/footer') %>